article.myproject-summary {
    margin: 55px 0;

    .myproject-summary__inner {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px;

        @media(max-width: 767px) {
            width: 100%;
            flex-direction: column-reverse;
            margin: 0;

            .__media {
                margin-bottom: 35px;
            }
        }

        > * {
            padding: 0 20px;
            box-sizing: border-box;

            @media(max-width: 767px) {
                padding: 0;
            }
        }

        .__entry {
            width: 50%;

            @media(max-width: 767px) {
                width: 100%;
            }

            .heading {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding-bottom: 25px;
                margin-bottom: 25px;
                border-bottom: solid 1px #eee;

                .avatar {
                    width: 55px;
                    margin-right: 20px;
                }

                .heading__meta {
                    width: calc(100% - 100px);

                    .title {
                        font-size: 1.5em;
                        line-height: .8em;
                        margin-bottom: 4px;
                    }

                    .meta {
                        display: flex;
                        flex-wrap: wrap;
                        font-size: .9em;
                        line-height: normal;

                        .by {
                            margin-right: 4px;
                        }
                    }
                }
            }

            .tags {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                line-height: normal;
                border-top: solid 1px #eee;
                margin-top: 35px;
                padding-top: 20px;
                font-size: .9em;

                .tag-icon {
                    display: block;
                    width: 20px;
                    margin-right: 10px;

                    svg {
                        width: 100%;
                    }
                }

                a {

                    &:not(:first-child) {
                        margin-left: 4px;
                    }
                }
            }

            .views {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                line-height: normal;
                border-top: solid 1px #eee;
                margin-top: 20px;
                padding-top: 20px;
                font-size: .9em;

                .__icon {
                    display: block;
                    width: 20px;
                    margin-right: 10px;

                    svg {
                        width: 100%;
                    }
                }
            }

            .share {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                line-height: normal;
                border-top: solid 1px #eee;
                margin-top: 20px;
                padding-top: 20px;
                font-size: .9em;

                .text {
                    margin-right: 10px;
                }

                .apack-share-container {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    margin: 0;
                    padding: 0;

                    .s-item {
                        list-style: none;
                        width: 28px;

                        &:not(:last-child) {
                            margin-right: 8px;
                        }
                    }
                }
            }
        }

        .__media {
            width: 50%;

            @media(max-width: 767px) {
                width: 100%;
            }

            img {
                border-radius: 3px;
            }
        }
    }
}

.myproject-single-nav-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: normal;
    padding: 10px 0;
    border: solid #eee;
    border-width: 1px 0;
    margin-top: 45px;

    > a {
        width: calc(100% / 3);
    }

    .archive-nav {
        text-align: center;
    }

    .next-nav {
        text-align: right;
        flex-direction: row-reverse;
    }

    .archive-nav {

        .__icon {
            width: 28px;
            display: inline-block;

            svg {
                width: 100%;
            }
        }
    }

    .next-nav,
    .prev-nav{
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .__icon {
            display: inline-block;
            width: 10px;
            vertical-align: middle;

            svg {
                width: 100%;
            }
        }

        .__title {
            margin: 0 10px;
            max-width: calc(100% - 30px);
        }
    }
}

.single-my-project {

    .apack-comment-container .bt-comment-wrapper {
        width: var(--apack-myproject-content-width);
    }
}
