html, body {
    color: var(--apack-color-text);

    h1, h2, h3, h4, h5, h6,
    .apack-heading {
        color: var(--e-global-color-primary);
    }

    a {
        color: var(--e-global-color-accent);
    }
}
